// Colors
$color-primary: #0b1d32;
$color-secondary: #fad500;
$color-link: $color-secondary;
$color-text: #ffffff;

// Fonts
$font-primary: 1em Roboto, "Lucida grande", Arial, sans-serif;
$font-secondary: 0.8em Roboto, "Lucida grande", Arial, sans-serif;
$font-link: $font-primary;
